<html>
<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css ">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>welcome to berkadia</h1>
    <p>It is the best company u can ever see</p>
</body>
</html>
